<!DOCTYPE html>
<html lang ="en">
<head>
	<meta charset="UTF-8">
        <meta name="author" content="FURKAN TAHA UNAL">
	<title>RENT CAR</title>

    <link rel="stylesheet" href="Css/Style.css" />
</head>
<body>
	<%- include('./fragments/header.ejs') %>
<main>
	<h2>Main Page</h2>
	
	<h3> Flexible leases</h3>
	<p>You can change or cancel most reservations free of charge up to 48 hours before pickup</p>
    
	<h3> No hidden fees</h3>
	<p>You know exactly what you're paying</p>

	<h3>Clean cars</h3>
	<p>  Flexible reservations. Rental points suitable for social distance.covid-message We work with our partners to keep you safe in the driver's seat.</p>
	<p>We Are More Than A Car Rental Company<br>
	   We create mobility solutions specific to your company and we are happy to help you develop a car rental program that best suits your needs.<br>
	   Rent A Car, you are always your competence and a good business partner, from one vehicle to the management of your entire vehicle fleet.<br></p>
	<p>What do I need to rent a car?
		To rent a car, all you need is a credit card and debit card. What you will need at the vehicle pick-up place:
		Your confirmation voucher/e-Confirmation Voucher shows that you paid us for the car rental.
		The credit/debit card in the name of the Master Driver must have sufficient limit to cover the vehicle's security deposit.
		Every driver must be a full, valid, and at least 12 month (usually 24 month old) owner.
		Supplier company employees are required to see your passport and any other identity document.</p>

	<p>Are all fees included in the rental price?
		Most rentals include Theft Protection, Damage Liability Assurance (CDW), local taxes, airport fare and road taxes. 
		You will only pay for the 'Extras' you have chosen at the pickup location. There's also a teen driver fee, 
		additional driver fee or one-way fee payable at the pick-up location - but we'll explain the fees you have to pay anyway before
		 you book (taking your own GPS or Child Seat can save you a huge amount of money). Please take a look at the Rental terms and 
		 Conditions of the vehicle of your choice to see other details included in your rental.</p>
</main>
<%- include('./fragments/footer.ejs') %>
</body>
</html>