<!DOCTYPE html>
<html lang ="en">
<head>
	<meta charset="UTF-8">
    <meta name="author" content="FURKAN TAHA UNAL">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>RENT CAR</title>
    <link rel="stylesheet" href="">
    
</head>
<body>
    <header>
	<img class ="title" src="images/rent_car.jpg" alt="Rent A Car Logo">
    </header>

     <nav>
	<ul>
		<li><a href="/" class="<%= navLocation == 'main' ? 'active' : ''%>">Main Page</a></li>
		<li><a href="/customer" class="<%= navLocation == 'customer' ? 'active' : '' %>" >Customer</a></li>
		<li><a href="/rent" class="<%= navLocation == 'rent' ? 'active' : '' %>">Rent</a></li>
		<li><a href="/car" class="<%= navLocation == 'car' ? 'active' : '' %>">Car</a></li>
	</ul>
     </nav>

</body>
</html>
