<!DOCTYPE html>
<html lang ="en">
<head>
	<meta charset="UTF-8">
        <meta name="author" content="FURKAN TAHA UNAL">
	<title>RENT CAR</title>

    <link rel="stylesheet" href="../../Css/Style.css" />

</head>
<body class ="inputStyle">
	
<header>

	<img  class ="title" src="../../images/rent_car.jpg" alt="Rent A Car Logo">
</header>
     <nav>
	<ul>
		<li><a href="../../index.html">Main Page</a></li>
		<li><a href="Customer-list.html">Customer</a></li>
		<li><a href="../Rent/Rent-list.html">Rent</a></li>
		<li><a href="../Car/Car-list.html">Car</a></li>
	</ul>
     </nav>
<main>
  <h2>Edit Customer</h2>

  <form class="form">
  <label for="firstname">Name: </label>
  <input type="text" name="firstname" id="firstname" value="Jim "  />
  <span id="errorFirstname"></span>

  <label for="surname">Surname: </label>
  <input type="text" name="surname" id="surname" value="Carrey"  />
  <span id="errorsurname"></span>

  <label for="address">Address: </label>
  <input type="text" name="address" id="address" value="ul.tatranska 5"  />
  <span id="erroraddress"></span>
  
  <label for="age">Age: </label>
  <input type="text" name="age" id="age" value="42"  />
  <span id="errorage"></span>

  
  <label for="email">Email: </label>
  <input type="email" name="email" id="email" value="Carreyjim@gmail.com"  />
  <span id="erroremail"></span>

  <label for="number">Phone Number: </label>
  <input type="text" name="number" value="+48-123-456-789" id="number" />
  <span id="errornumber"></span>


  <div>
    <input class="form-button-submit" type="submit" value="add" />
    <a class="form-button-cancel" href="customer-list.html">Cancel</a>  
  </div>

</form>
</main>

</body>
</html>

