<!DOCTYPE html>
<html lang ="en">
<head>
	<meta charset="UTF-8">
        <meta name="author" content="FURKAN TAHA UNAL">
	<title>RENT CAR</title>

    <link rel="stylesheet" href="../../Css/Style.css" />
</head>
<body>
	<%- include('../../fragments/header.ejs') %>
<main>
  <h2>Employee list</h2>
  
  <p><a href="">No records to display.</a></p>
  
</main>
<%- include('../../fragments/footer.ejs') %>
</body>
</html>

